/* line 1, ../components/sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 5, ../components/sass/_base.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 9, ../components/sass/_base.scss */
.cf:after {
  clear: both;
}

/* for ie 6/7 (trigger hasLayout) */
/* line 13, ../components/sass/_base.scss */
.cf {
  zoom: 1;
}

/* line 16, ../components/sass/_base.scss */
body {
  font-family: Calbri, Tahoma, Arial;
  font-size: 16px;
  line-height: 1em;
  color: #757575;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../components/sass/_base.scss */
h1 {
  font-size: 1.6em;
}

/* line 29, ../components/sass/_base.scss */
em {
  text-decoration: underline;
  font-weight: bold;
}

/* line 40, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: #0000ff;
}
/* line 43, ../components/sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 47, ../components/sass/_base.scss */
p {
  margin-bottom: 10px;
}

/* line 50, ../components/sass/_base.scss */
.small {
  font-size: .5em;
}

/* line 53, ../components/sass/_base.scss */
.wrapper {
  position: relative;
  width: 100%;
  height: 900px;
  max-width: 1224px;
  margin: 0 auto;
  background: #fff;
}

/* line 62, ../components/sass/_base.scss */
.thank-you {
  font-size: .9em;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 50px auto 0px auto;
}

/*---------------------------base navigation styles */
/* line 71, ../components/sass/_base.scss */
#mainNav h2, #mainNav #menuToggle {
  display: none;
}

/* line 74, ../components/sass/_base.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 81, ../components/sass/_base.scss */
#mainNav {
  margin-top: 9px;
  margin-bottom: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 90, ../components/sass/_base.scss */
#mainNav li {
  float: left;
  font-size: .9em;
}

/* line 94, ../components/sass/_base.scss */
#mainNav a, #mainNav h3 {
  display: block;
  color: #fff;
  border: none;
}

/* line 99, ../components/sass/_base.scss */
#mainNav a:hover {
  color: #fff;
}

/* line 102, ../components/sass/_base.scss */
#mainNav a.current {
  color: #fff;
  cursor: default;
}

@media only screen and (min-width: 801px) {
  /* line 2, ../components/sass/_large.scss */
  .index {
    background: url(../_images/lg-bkg-img.jpg);
    background-repeat: repeat-x;
  }

  /* line 20, ../components/sass/_large.scss */
  .non-index {
    background: url(../_images/c-g-bkg.jpg);
    background-repeat: repeat-x;
  }

  /* line 24, ../components/sass/_large.scss */
  header {
    float: left;
    font-family: Trajan Pro, Copperplate, Arial;
    font-size: 2em;
    font-weight: bold;
    color: #1c421d;
    margin-top: 54px;
    width: 100%;
  }

  /* line 35, ../components/sass/_large.scss */
  .colt-green-logo {
    float: left;
    padding: 0px 17px 0px 19px;
  }

  /* line 40, ../components/sass/_large.scss */
  .logo-text {
    float: left;
    display: block;
    margin-top: 50px;
  }

  /* line 46, ../components/sass/_large.scss */
  .login-txt {
    float: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-right: 52px;
    font-family: Arial;
    font-size: .45em;
    font-weight: normal;
    letter-spacing: 1px;
    color: #434343;
  }

  /* line 58, ../components/sass/_large.scss */
  .login-txt a {
    color: inherit;
    padding: 3px 10px 3px 10px;
    margin-top: 5px;
    margin-bottom: -5px;
    border-top: none;
    border-right: 1px solid transparent;
    border-bottom: none;
    border-left: 1px solid transparent;
  }
  /* line 69, ../components/sass/_large.scss */
  .login-txt a:hover {
    text-decoration: none;
    background: #e4e4e4;
    border-top: none;
    border-right: 1px solid #757575;
    border-bottom: none;
    border-left: 1px solid #757575;
    transition: background .5s ease;
    -o-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -ms-transition: background .5s ease;
  }

  /* line 86, ../components/sass/_large.scss */
  .colt-green-banner {
    width: 100%;
    max-width: 1224px;
  }

  /* line 92, ../components/sass/_large.scss */
  .page-identify {
    display: block;
    position: relative;
    width: 100px;
    margin: 50px auto 0px auto;
  }

  /* line 98, ../components/sass/_large.scss */
  .page-identify-temp {
    display: block;
    position: relative;
    width: 100px;
    margin: 50px auto 0px auto;
  }

  /* line 104, ../components/sass/_large.scss */
  .header-p {
    width: 90%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 50px auto 0px auto;
  }

  /* line 111, ../components/sass/_large.scss */
  .first-p {
    width: 90%;
    line-height: 1.2em;
    margin: 50px auto 0px auto;
  }

  /* line 116, ../components/sass/_large.scss */
  .p-img {
    width: 35%;
    max-width: 450px;
    float: left;
    margin: 60px 15px 15px 3%;
    border: 1px solid #000;
  }

  /* line 123, ../components/sass/_large.scss */
  .p-img-2 {
    width: 35%;
    max-width: 450px;
    float: left;
    margin: 60px 10px 15px 3%;
    border: none;
  }

  /* line 130, ../components/sass/_large.scss */
  .p-img-3 {
    width: 35%;
    max-width: 450px;
    float: left;
    margin: 8px auto 15px auto;
    border: none;
  }

  /* line 137, ../components/sass/_large.scss */
  .p-img-4 {
    width: 35%;
    max-width: 600px;
    float: left;
    margin: 60px auto 15px auto;
    border: 1px solid #e1e1e1;
  }

  /* line 144, ../components/sass/_large.scss */
  .about {
    float: left;
    width: 55%;
    max-width: 770px;
    margin-bottom: 50px;
  }

  /* line 150, ../components/sass/_large.scss */
  .credentials {
    float: left;
    width: 55%;
    max-width: 770px;
    margin-bottom: 50px;
  }

  /* line 156, ../components/sass/_large.scss */
  .b {
    color: #000;
  }

  /* line 159, ../components/sass/_large.scss */
  .u {
    text-decoration: underline;
  }

  /* line 162, ../components/sass/_large.scss */
  .credentials h3 {
    margin-left: 34px;
    padding-left: 0;
  }

  /* line 166, ../components/sass/_large.scss */
  .credentials ul {
    margin-left: 25px;
    line-height: 1.4em;
  }

  /* line 170, ../components/sass/_large.scss */
  .small {
    display: none;
  }

  /* line 173, ../components/sass/_large.scss */
  .subsequent-p {
    line-height: 1.4em;
    width: 90%;
    margin: 1em auto 0 auto;
  }

  /* line 178, ../components/sass/_large.scss */
  #cat-box {
    list-style: none;
    margin: 3px 0px 0px 0px;
    padding: 0;
    width: 100%;
    max-width: 1224px;
    position: relative;
  }

  /* line 188, ../components/sass/_large.scss */
  #cat-box li:nth-child(1) {
    margin-left: .3267974%;
    float: left;
    width: 33.0882353%;
  }

  /* line 195, ../components/sass/_large.scss */
  #cat-box li:nth-child(2) {
    margin: 0;
    float: left;
    width: 33.1699346%;
  }

  /* line 202, ../components/sass/_large.scss */
  #cat-box li:nth-child(3) {
    margin: 0;
    float: left;
    width: 33.0882353%;
  }

  /* line 210, ../components/sass/_large.scss */
  .cat-box-container {
    float: left;
  }

  /* line 214, ../components/sass/_large.scss */
  .cat-bkg-top {
    display: block;
  }

  /* line 218, ../components/sass/_large.scss */
  .cat-header-txt {
    display: block;
    width: 91.6049383%;
    background: #173018;
    margin: 0px auto;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: .9em;
    letter-spacing: 4px;
    line-height: 1.8em;
    border-right: 2px solid #98999a;
    border-left: 2px solid #98999a;
    transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -webkit-transition: background .2s ease;
    -ms-transition: background .2s ease;
  }
  /* line 239, ../components/sass/_large.scss */
  .cat-header-txt:hover {
    background: #ccc;
    color: #434343;
  }

  /* line 244, ../components/sass/_large.scss */
  .cat-box-body {
    width: 91.6049383%;
    margin: 0px auto;
    padding: 0px;
    border-right: 2px solid #98999a;
    border-left: 2px solid #98999a;
  }

  /* line 252, ../components/sass/_large.scss */
  .cat-img {
    float: left;
    width: 33.5802469%;
    max-width: 136px;
    margin: 4px 0px 6px 4px;
  }

  /* line 259, ../components/sass/_large.scss */
  .cat-content {
    display: inline-block;
    float: left;
    font-size: .8em;
    font-family: Arial;
    width: 48.2666667%;
    max-width: 181px;
    margin-left: 7.4074074%;
  }

  /* line 269, ../components/sass/_large.scss */
  .cat-link-txt {
    display: block;
    font-family: Arial;
    font-size: .8em;
    float: right;
    margin-right: 7.4074074%;
    margin-top: -.2em;
  }

  /* line 278, ../components/sass/_large.scss */
  .cat-link {
    text-decoration: underline;
    color: #0000ff;
  }
  /* line 281, ../components/sass/_large.scss */
  .cat-link:hover {
    text-decoration: none;
  }

  /* line 287, ../components/sass/_large.scss */
  article#contact {
    position: relative;
    float: left;
    width: 98%;
    margin-left: 2%;
    font-size: .9em;
  }

  /* line 295, ../components/sass/_large.scss */
  article#contact p {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 302, ../components/sass/_large.scss */
  form {
    margin-bottom: 1em;
    margin-left: 15px;
  }

  /* line 306, ../components/sass/_large.scss */
  .text {
    display: block;
  }

  /* line 309, ../components/sass/_large.scss */
  form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* line 314, ../components/sass/_large.scss */
  form li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }

  /* line 320, ../components/sass/_large.scss */
  input[type="text"], input[type="email"] {
    border: 1px solid #757575;
    background-color: #fff;
    width: 30%;
    min-width: 200px;
    padding: .3em;
    font-size: 1em;
  }

  /* line 328, ../components/sass/_large.scss */
  textarea, select {
    border: 1px solid #757575;
    background-color: #fff;
    width: 60%;
    min-width: 200px;
    height: 120px;
    padding: .3em;
    font-size: 1em;
  }

  /* line 337, ../components/sass/_large.scss */
  input:focus, textarea:focus {
    background-color: #f9f9f9;
  }

  /* line 340, ../components/sass/_large.scss */
  input#send {
    float: left;
    width: 100px;
    height: 26px;
    display: block;
    border: 1px solid #999;
    margin: 5px 30px 30px 0px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #fff;
  }

  /* line 358, ../components/sass/_large.scss */
  input#send:hover {
    background: #0f5588;
    color: #fff;
    cursor: pointer;
  }

  /* line 364, ../components/sass/_large.scss */
  input#clear {
    float: left;
    width: 100px;
    height: 26px;
    display: block;
    background: #fff;
    color: #666;
    border: 1px solid #999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 5px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }

  /* line 381, ../components/sass/_large.scss */
  input#clear:hover {
    background: #1f5588;
    color: #fff;
    cursor: pointer;
  }

  /* line 387, ../components/sass/_large.scss */
  footer {
    position: relative;
    float: left;
    width: 100%;
    font-size: .8em;
    color: #585858;
    max-width: 1224px;
    border-top: 1px solid #ccc;
    margin: 20px 0px 50px 0px;
  }

  /* line 397, ../components/sass/_large.scss */
  .footer-contact {
    float: left;
    width: 40%;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-left: 20px;
    padding-top: 18px;
  }

  /* line 406, ../components/sass/_large.scss */
  .footer-logos {
    float: left;
    width: 30%;
  }

  /* line 410, ../components/sass/_large.scss */
  .footer-logos img {
    float: left;
    width: 100%;
    max-width: 75px;
    padding: 18px 5px 0px 0px;
  }

  /* line 416, ../components/sass/_large.scss */
  .footer-credentials {
    float: right;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    padding-top: 18px;
  }

  /* -------------------- large nav styles -------------------- */
  /* line 425, ../components/sass/_large.scss */
  .mobile-only {
    display: none;
  }

  /* line 428, ../components/sass/_large.scss */
  #mainNav {
    margin-bottom: 0;
  }

  /* line 431, ../components/sass/_large.scss */
  #largeMenu {
    margin-top: 9px;
    line-height: 2em;
    height: 2em;
    background: #98999a;
    float: left;
    width: 100%;
  }

  /* line 440, ../components/sass/_large.scss */
  #mainNav li:first-child {
    margin-left: 11%;
  }

  /* line 443, ../components/sass/_large.scss */
  #mainNav li {
    margin-right: 8.00712%;
    position: relative;
  }

  /* line 447, ../components/sass/_large.scss */
  #mainNav a, #mainNav h3 {
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 1em;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0px 12px;
    border-top: none;
    border-right: 1px solid transparent;
    border-bottom: none;
    border-left: 1px solid transparent;
    transition: background .5s ease;
    -o-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -ms-transition: background .5s ease;
  }

  /* line 469, ../components/sass/_large.scss */
  #mainNav a:hover, #mainNav h3:hover {
    text-decoration: none;
    border-top: none;
    border-right: 1px solid #555555;
    border-bottom: none;
    border-left: 1px solid #555555;
    background: #d9d9d9;
    color: #555555;
  }

  /*#mainNav a:hover {
  	cursor: pointer;
  }*/
  /* line 485, ../components/sass/_large.scss */
  #mainNav h3:hover {
    cursor: default;
  }

  /* -------------------- dropdown menu styles -------------------- */
  /* line 489, ../components/sass/_large.scss */
  #mainNav ul.submenu {
    display: hidden;
    box-sizing: border-box;
    float: none;
    width: auto;
    height: auto;
    position: absolute;
    top: 2.2em;
    left: -9000em;
    max-height: 0;
    border-radius: none;
    -webkit-transition: max-height 1.5s ease;
    transition: max-height 1.5s ease;
    overflow: hidden;
    z-index: 1000;
  }

  /* line 506, ../components/sass/_large.scss */
  #mainNav ul.submenu a:hover {
    height: auto;
    top: 0;
  }

  /* line 510, ../components/sass/_large.scss */
  #mainNav ul.submenu li {
    box-sizing: border-box;
    float: none;
    margin: 0;
    background: #515151;
    background: rgba(81, 81, 81, 0.9);
  }

  /* line 517, ../components/sass/_large.scss */
  #mainNav li.hover:hover ul, #mainNav ul.submenu.expand {
    left: .3em;
    max-height: 30em;
    -webkit-box-shadow: -2px 2px 3px 1px rgba(145, 145, 145, 0.8);
    -moz-box-shadow: -2px 2px 3px 1px rgba(145, 145, 145, 0.8);
    box-shadow: -2px 2px 3px 1px rgba(145, 145, 145, 0.8);
  }

  /*#mainNav li:hover ul {
  	left: 0;
  	max-height: 20em;
  }*/
  /* line 530, ../components/sass/_large.scss */
  #mainNav ul.submenu li a {
    margin-top: 1px;
    padding: .2em 1em;
    white-space: nowrap;
    color: #fff;
    text-align: left;
    font-size: 1.1em;
    border-top: 1px solid none;
    border-right: 1px solid #transparent;
    border-bottom: 1px solid none;
    border-left: 1px solid #transparent;
  }

  /* line 549, ../components/sass/_large.scss */
  #mainNav ul.submenu li a:hover {
    box-sizing: border-box;
    background: white;
    color: #515151;
    border-radius: 0;
    border-top: 1px solid none;
    border-right: 1px solid #757575;
    border-bottom: 1px solid none;
    border-left: 1px solid #757575;
  }

  /* -------------------- end large nav styles -------------------- */
}
@media only screen and (max-width: 800px) {
  /* line 2, ../components/sass/_small.scss */
  body {
    background: none;
  }

  /* line 5, ../components/sass/_small.scss */
  .index-lg-top {
    display: none;
  }

  /* line 8, ../components/sass/_small.scss */
  .index-lg-btm {
    display: none;
  }

  /* line 11, ../components/sass/_small.scss */
  header {
    position: relative;
    width: 100%;
    float: left;
    font-family: Trajan Pro, Copperplate, Arial;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.1em;
    color: #1c421d;
    margin-top: 8px;
  }

  /* line 23, ../components/sass/_small.scss */
  .colt-green-logo {
    display: block;
    position: relative;
    float: left;
    padding: 0px 10px 0px 8px;
  }

  /* line 29, ../components/sass/_small.scss */
  .logo-text {
    position: relative;
    float: left;
    display: block;
    margin-top: 54px;
  }

  /* line 35, ../components/sass/_small.scss */
  .login-txt {
    float: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: Arial;
    font-size: .5em;
    font-weight: normal;
    letter-spacing: 1px;
    color: #757575;
  }

  /* line 47, ../components/sass/_small.scss */
  .login-txt a {
    color: inherit;
  }

  /* line 50, ../components/sass/_small.scss */
  .colt-green-banner {
    display: none;
  }

  /* line 53, ../components/sass/_small.scss */
  .page-identify {
    display: block;
    position: relative;
    width: 100%;
    margin: 240px auto 0px auto;
  }

  /* line 59, ../components/sass/_small.scss */
  .page-identify-temp {
    display: block;
    position: relative;
    width: 100px;
    margin: 50px auto 0px auto;
  }

  /* line 65, ../components/sass/_small.scss */
  .header-p {
    width: 95%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 20px auto 0px auto;
  }

  /* line 72, ../components/sass/_small.scss */
  .first-p {
    width: 95%;
    line-height: 1.2em;
    margin: 20px auto 0px auto;
  }

  /* line 77, ../components/sass/_small.scss */
  .p-img {
    width: 94%;
    max-width: 600px;
    display: block;
    float: none;
    clear: both;
    margin: 8px auto 15px auto;
    border: 1px solid #000;
  }

  /* line 86, ../components/sass/_small.scss */
  .p-img-2 {
    width: 94%;
    max-width: 600px;
    display: block;
    float: none;
    clear: both;
    margin: 8px auto 15px auto;
    border: 1px solid #000;
  }

  /* line 95, ../components/sass/_small.scss */
  .p-img-3 {
    width: 94%;
    max-width: 600px;
    display: block;
    float: none;
    clear: both;
    margin: 8px auto 15px auto;
    border: none;
  }

  /* line 104, ../components/sass/_small.scss */
  .p-img-4 {
    width: 94%;
    max-width: 600px;
    display: block;
    float: none;
    clear: both;
    margin: 8px auto 15px auto;
    border: 1px solid #c6c6c6;
  }

  /* line 113, ../components/sass/_small.scss */
  .large {
    display: none;
  }

  /* line 116, ../components/sass/_small.scss */
  .subsequent-p {
    line-height: 1.5em;
    width: 95%;
    margin: 1em auto 0em auto;
  }

  /* line 121, ../components/sass/_small.scss */
  #cat-box {
    list-style: none;
    margin: 3px 0px 0px 0px;
    padding: 0;
    width: 100%;
    max-width: 800px;
    position: relative;
  }

  /* line 131, ../components/sass/_small.scss */
  #cat-box li:nth-child(1) {
    margin: 10px 0px 0px 0px;
    float: left;
    position: relative;
    width: 100%;
  }

  /* line 138, ../components/sass/_small.scss */
  #cat-box li:nth-child(2) {
    margin: 0;
    float: left;
    position: relative;
    width: 100%;
  }

  /* line 145, ../components/sass/_small.scss */
  #cat-box li:nth-child(3) {
    margin: 0;
    float: left;
    position: relative;
    width: 100%;
  }

  /* line 153, ../components/sass/_small.scss */
  .cat-box-container {
    position: relative;
    float: left;
    width: 100%;
  }

  /* line 158, ../components/sass/_small.scss */
  .cat-bkg-top {
    display: block;
    position: relative;
  }

  /* line 162, ../components/sass/_small.scss */
  .cat-header-txt {
    display: block;
    position: relative;
    width: 91.6049383%;
    background: #173018;
    margin: 0px auto;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: .9em;
    letter-spacing: 4px;
    line-height: 1.8em;
    border-right: 2px solid #98999a;
    border-left: 2px solid #98999a;
  }

  /* line 178, ../components/sass/_small.scss */
  .cat-box-body {
    position: relative;
    width: 91.6049383%;
    margin: 0px auto;
    padding: 0px;
    border-right: 2px solid #98999a;
    border-left: 2px solid #98999a;
  }

  /* line 186, ../components/sass/_small.scss */
  .cat-img {
    position: relative;
    float: left;
    width: 33.5802469%;
    max-width: 136px;
    margin: 4px 0px 6px 4px;
  }

  /* line 193, ../components/sass/_small.scss */
  .cat-content {
    display: inline-block;
    position: relative;
    float: left;
    font-size: .8em;
    font-family: Arial;
    width: 48.2666667%;
    max-width: 464px;
    margin-left: 7.4074074%;
  }

  /* line 203, ../components/sass/_small.scss */
  .cat-link-txt {
    display: block;
    position: relative;
    font-family: Arial;
    font-size: .8em;
    float: right;
    text-align: right;
    width: 48.2666667%;
    max-width: 464px;
    margin-right: 7.4074074%;
    margin-top: -.2em;
  }

  /* line 215, ../components/sass/_small.scss */
  .cat-link {
    text-decoration: underline;
    color: #0000ff;
  }
  /* line 218, ../components/sass/_small.scss */
  .cat-link:hover {
    text-decoration: none;
  }

  /* line 222, ../components/sass/_small.scss */
  .b {
    color: #000;
  }

  /* line 225, ../components/sass/_small.scss */
  .u {
    text-decoration: underline;
  }

  /* line 228, ../components/sass/_small.scss */
  .credentials h3 {
    margin-left: 25px;
    padding-left: 0;
  }

  /* line 232, ../components/sass/_small.scss */
  .credentials ul {
    line-height: 1.5em;
  }

  /* line 237, ../components/sass/_small.scss */
  article#contact {
    width: 98%;
    position: relative;
    float: left;
    margin-left: 2%;
    font-size: .9em;
  }

  /* line 245, ../components/sass/_small.scss */
  article#contact p {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 252, ../components/sass/_small.scss */
  form {
    margin-bottom: 1em;
    margin-left: 15px;
  }

  /* line 256, ../components/sass/_small.scss */
  .text {
    display: block;
  }

  /* line 259, ../components/sass/_small.scss */
  form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* line 264, ../components/sass/_small.scss */
  form li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }

  /* line 270, ../components/sass/_small.scss */
  input[type="text"], input[type="email"] {
    border: 1px solid #757575;
    background-color: #fff;
    width: 30%;
    min-width: 200px;
    padding: .3em;
    font-size: 1em;
  }

  /* line 278, ../components/sass/_small.scss */
  textarea, select {
    border: 1px solid #757575;
    background-color: #fff;
    width: 90%;
    min-width: 200px;
    height: 120px;
    padding: .3em;
    font-size: 1em;
  }

  /* line 287, ../components/sass/_small.scss */
  input:focus, textarea:focus {
    background-color: #f9f9f9;
  }

  /* line 290, ../components/sass/_small.scss */
  input#send {
    float: left;
    width: 100px;
    height: 26px;
    display: block;
    border: 1px solid #999;
    margin: 5px 30px 30px 0px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #fff;
  }

  /* line 308, ../components/sass/_small.scss */
  input#send:hover {
    background: #0f5588;
    color: #fff;
    cursor: pointer;
  }

  /* line 314, ../components/sass/_small.scss */
  input#clear {
    float: left;
    width: 100px;
    height: 26px;
    display: block;
    background: #fff;
    color: #666;
    border: 1px solid #999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 5px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }

  /* line 331, ../components/sass/_small.scss */
  input#clear:hover {
    background: #1f5588;
    color: #fff;
    cursor: pointer;
  }

  /* line 336, ../components/sass/_small.scss */
  .thank-you {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10px auto 0px auto;
  }

  /* line 345, ../components/sass/_small.scss */
  footer {
    position: relative;
    float: left;
    width: 100%;
    font-size: .8em;
    color: #585858;
    max-width: 1224px;
    border-top: 1px solid #98999a;
    margin: 20px 0px 20px 0px;
  }

  /* line 355, ../components/sass/_small.scss */
  .footer-contact {
    float: left;
    width: 40%;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-left: 20px;
    padding-top: 10px;
  }

  /* line 364, ../components/sass/_small.scss */
  .footer-logos {
    float: left;
    width: 30%;
  }

  /* line 368, ../components/sass/_small.scss */
  .footer-logos img {
    float: left;
    width: 100%;
    max-width: 75px;
    padding: 10px 5px 0px 0px;
  }

  /* line 374, ../components/sass/_small.scss */
  .footer-credentials {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
  }

  /*mobile navigation styles*/
  /* line 383, ../components/sass/_small.scss */
  #sticky {
    width: 100%;
  }

  /* line 386, ../components/sass/_small.scss */
  #sticky.stick {
    position: fixed;
    top: 0px;
    z-index: 10000;
  }

  /* line 392, ../components/sass/_small.scss */
  #mainNav {
    /*width: auto; ---- this causes the toggle to disappear - ?*/
    width: 100%;
    margin: 0;
    background: white;
    overflow: hidden;
  }

  /* line 400, ../components/sass/_small.scss */
  #mainNav li {
    margin: 0;
    float: none;
    position: relative;
  }

  /* line 405, ../components/sass/_small.scss */
  .topMenu {
    max-height: 0;
    visibility: hidden;
  }

  /* line 409, ../components/sass/_small.scss */
  .topMenu.expand {
    max-height: 900em;
    visibility: visible;
  }

  /* line 413, ../components/sass/_small.scss */
  #mainNav a, #mainNav h3 {
    font-size: 1.2em;
    padding: 0 4.58333%;
    text-align: left;
    color: #fff;
    display: block;
    margin: 0px 0px 1px 0px;
    background: #c6c37e;
    line-height: 2.2em;
    cursor: pointer;
  }

  /* line 425, ../components/sass/_small.scss */
  #mainNav a:hover, #mainNav h3:hover {
    background: #7a7741;
  }

  /* line 428, ../components/sass/_small.scss */
  #mainNav a:hover {
    color: white;
  }

  /* line 431, ../components/sass/_small.scss */
  #mainNav a.current {
    color: #ede4d6;
  }

  /* line 434, ../components/sass/_small.scss */
  #mainNav span.indicator {
    padding-left: 10px;
    position: absolute;
  }

  /*--------mobile dropdown navigation styles*/
  /* line 441, ../components/sass/_small.scss */
  #mainNav ul.submenu {
    float: none;
    width: auto;
    height: auto;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
    overflow: hidden;
  }

  /* line 450, ../components/sass/_small.scss */
  #mainNav ul.submenu.expand {
    max-height: 20em;
  }

  /* line 453, ../components/sass/_small.scss */
  #mainNav ul.submenu li a {
    padding: .2em 1em;
    white-space: nowrap;
    color: white;
    text-align: left;
    font-size: 1.2em;
    padding-left: 3em;
  }

  /* line 462, ../components/sass/_small.scss */
  #mainNav ul.submenu li a:hover {
    background: #7a7741;
  }

  /* line 465, ../components/sass/_small.scss */
  #mainNav .menuToggle {
    display: block;
    background: #4c4341;
    width: 100%;
    margin-top: .2em;
    margin-bottom: .2em;
    position: relative;
  }

  /* line 474, ../components/sass/_small.scss */
  .menuToggle a {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  /* line 482, ../components/sass/_small.scss */
  footer {
    position: relative;
    float: left;
    width: 100%;
    font-size: .8em;
    color: #585858;
    max-width: 1224px;
    border-top: 1px solid #ccc;
    margin: 20px 0px 30px 0px;
  }

  /* line 492, ../components/sass/_small.scss */
  .footer-contact {
    float: left;
    width: 90%;
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
  }

  /* line 499, ../components/sass/_small.scss */
  .footer-logos {
    float: none;
    width: 90%;
    margin-left: 20px;
  }

  /* line 504, ../components/sass/_small.scss */
  .footer-logos img {
    float: left;
    width: 100%;
    max-width: 75px;
    padding: 20px 5px 10px 0px;
  }

  /* line 510, ../components/sass/_small.scss */
  .footer-credentials {
    float: left;
    width: 90%;
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 419px) {
  /* line 520, ../components/sass/_small.scss */
  .logo-text {
    position: relative;
    float: left;
    display: block;
    margin: 12px 0px 0px 8px;
  }
}
