html, body {
  margin: 0;
  padding: 0;
}
.cf:before, .cf:after {
	content:"";
	display: table;
}
.cf:after {
	clear: both;
}
/* for ie 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}
body {
	font-family: Calbri, Tahoma, Arial;
	font-size: 16px;
	line-height: 1em;
	color: #757575;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;	
	// background: #ccc;
}
h1 {
	font-size: 1.6em;
}
em {
	text-decoration: underline;
	font-weight: bold;
}
// h3 {
// 	font-size: 1em;
// 	font-family: Arial;
// 	font-weight: normal;
// 	margin: 0;
// 	padding: 0;
// }
a {
	text-decoration: none;
	color: #0000ff;
	&:hover {
		text-decoration: underline;
	}
}
p {
	margin-bottom: 10px;
}
.small {
	font-size: .5em;
}
.wrapper {
	position: relative;
	width: 100%;
	height: 900px;
	max-width: 1224px;
	margin: 0 auto;
	background: #fff;
}

.thank-you {
	font-size: .9em;
	position: relative;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 50px auto 0px auto;
}
/*---------------------------base navigation styles */
#mainNav h2, #mainNav #menuToggle {
  display: none;
}
nav ul {
  list-style: none;
  // following 2 added
  margin: 0;
  padding: 0;
}

#mainNav {
  // margin-left: 280px;
  margin-top: 9px;
  margin-bottom: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mainNav li {
  float: left;
  font-size: .9em;
}
#mainNav a, #mainNav h3 {
  display: block;
  color: #fff;
  border: none;
}
#mainNav a:hover {
  color: #fff;
}
#mainNav a.current {
  color: #fff;
  cursor: default;
}





